<div class="row">
    <div class="col-md-8">
        <div class="leftmenu-header2">ドキュメント</div>
    </div>
    <div class="col-md-4 text-right">
        <button raise-event="document.section.add.request" event-arg="{parent: RootSection}" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-plus" aria-hidden="add new section"></span>
        </button>
    </div>
</div>
<script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle>
        {{section.name}}
    </div>
    <ol ui-tree-nodes="" ng-model="section.children">
        <li ng-repeat="section in section.children" ui-tree-node ng-include="'nodes_renderer.html'">
        </li>
    </ol>
</script>
<div ui-tree>
    <ol ui-tree-nodes="" ng-model="RootSection.children" id="tree-root">
        <li ng-repeat="child in RootSection.children" ui-tree-node ng-include="'nodes_renderer.html'"></li>
    </ol>
</div>