<h1>コンテキスト：{{ currentContext.name }}</h1>
<div>
    名前：
    <input type="text" class="form-control" ng-model="currentContext.name">
    目的：
    <input type="text" class="form-control" ng-model="currentContext.purpose">
</div>

<h3>コンテキストエンティティ</h3>
<div>
    <div class="col-md-8"></div>
    <div class="col-md-4 text-right">
        <a class="btn btn-default" ui-sref="context-entity({contextId: currentContext.id})">編集</a>
    </div>
</div>
<table>
    <tr ng-repeat="entity in currentContext.refs.entity">
        <td>{{entity.name}}</td>
        <td>
            <a class="btn btn-default" ui-sref="entity({entityId: entity.id})">編集</a>
        </td>
    </tr>
</table>